* {
  background: #26292B;
  font-family: 'Courier New', Courier, monospace;
}

.conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.cidade {
  color: #FFF;
  font-style: normal;
  line-height: normal;
  margin-top: 2%;
}

.conteinerData {
  border-radius: 42px;
  background: #A2B2EE;
  display: flex;
}

.dataAtual {
  color: #26292B;
  font-size: 18px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
  background-color: transparent;
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.climaDia {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
}

.WiThermometerWidget{
  margin-bottom: 35px;
}

.centeredTextIcon{
  display: flex;
  justify-content: left;
}

.WiRainMix{
  color: #FFF;
  vertical-align: bottom;
}

.tableStyle{
  color: #FFF;
  margin-bottom: 193px;
}

.rowStyle{
  background-color: transparent;
  color: #fff;
  justify-content: space-around;
  display: flex;
}

.temperaturaDiaWidget{
  color: #FFF;
  font-size: 100px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
}

.rowStyle>tr>td{
  display: flex;
}

.rowStyle>tr>td>p{
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
}

.secondRowStyle{
  background-color: #A2B2EE;
  width: 386px;
  height: 144px;
  display: flex;
  border-radius: 42px;
  justify-content: space-around;
  align-items: center;
}

.humidadeIcon{
  background-color:transparent;
  color: #26292B;
  margin-bottom: -15px;
  margin-top: 10px;
}

.humidadePorcentagem{
  background-color: transparent;
  color: #26292B;
  font-size: 15px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
  margin-bottom: -10px;
}

.humidadeText{
  background-color: transparent;
  color: #26292B;
  font-size: 14px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
}

.ventoIcon{
  background-color:transparent;
  color: #26292B;
  margin-bottom: -15px;
  margin-top: 10px;
}

.ventoValor{
  background-color: transparent;
  color: #26292B;
  font-size: 15px;
  font-style: normal; 
  font-weight: 550;
  line-height: normal;
  margin-bottom: -10px;
}

.ventoText{
  background-color: transparent;
  color: #26292B;
  font-size: 14px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
}

.precipitacaoIcon{
  background-color:transparent;
  color: #26292B;
  margin-bottom: -15px;
  margin-top: 10px;
}

.precipitacaoPorcentagem{
  background-color: transparent;
  color: #26292B;
  font-size: 15px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
  margin-bottom: -10px;
}

.precipitacaoText{
  background-color: transparent;
  color: #26292B;
  font-size: 14px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
}

.dailyWeatheDetails{
  background-color: transparent;
  color: #26292B;
  display: flex;
  align-content: center;
}

.dailyWeatheDetails>td{
  background-color: transparent;
  margin-right: 30px;
  margin-left: 30px;
  flex-direction: column;
  display: flex;
  align-items: center;
}



.temperaturaDia {
  color: #FFF;
  font-size: 200px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
  margin-top: 30px;
}

.WiThermometer {
  color: #FFF;
  margin-left: -15px;
  margin-bottom: 265px;
  background-color: transparent;
}

.cardsPrevisaoSemana {
  align-items: center;
  flex: wrap;
  margin-top: -120px;
}

.centered-label {
  display: flex;
  justify-content: left;
}

.previsaoDaSemana {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
  margin-left: 10px;
  margin-top: -50px;
  text-decoration: none;
}

.IoExpandOutline{
  color: #FFF;
  vertical-align: bottom;
}

.cardtestConteiner {
  display: flex;
  border-radius: 17px;
  background: #26292B;
  align-items: center;
  justify-content: center;
  color: #26292B;
  font-size: 24px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
  flex-wrap: nowrap;
}

.cardtestConteiner>div {
  border-radius: 17px;
  background: #5F7ADB;
  align-items: center;
  justify-content: center;
  color: #26292B;
  font-size: 24px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
  margin-left: 5px;
  margin-right: 5px;
}

.cardtestConteiner>div>p {
  margin-right: 10px;
  margin-left: 10px;
}

.temperaturaDiaCard {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.iconeClimaDiaCard {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.dataMesCard {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.closeIcon{
  margin-left: auto;
  margin-right: 0;
}

.IoClose{
  text-decoration: none;
  fill: #FFF;
}

.previsaoDaSemanaText{
  align-items: center;
}

.previsaoDaSemanaText>p{
  color: #FFF;
  font-size: 35px;
  font-style: normal;
  font-weight: 550;
}

.cardsDaSemana{
  align-items: center;
}

.cardsSemanaConteiner{
  align-items: center;
  justify-content: center;
  line-height: normal;
  flex-wrap: nowrap;
  margin-top: 25%;
}

.cardsSemanaConteiner>div{
  max-width: 300px;
  min-height: 100px;
  border-radius: 8px;
  background: #A2B2EE;
  margin-top: 7%;
}

.cardsSemanaConteiner>div>p{
  background-color: transparent;
}

.card1{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #A2B2EE; 
  min-height: 100px;
  max-width: 320px;
  min-width: 200px;
  border-radius: 5%;
}
.card1>table{
  background-color: transparent;
  margin-left: 20%;
  display: flex;
}

.card1>table>td{
  background-color: transparent;
}

.card1>table>td>tr{
  background-color: transparent;
  font-size: 18px;
  font-style: normal;
  font-weight: 550;
  line-height: 30px;
}

.card1Title{
  color: #26292B;
  background-color: transparent;
}

.card1Body>p{
  color: #26292B;
  background: #A2B2EE;
  padding-top: 1rem;
  line-height: 150%;
}

.card2{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #A2B2EE; 
  min-height: 100px;
  max-width: 320px;
  min-width: 200px;
  border-radius: 5%;
}
.card2>table{
  background-color: transparent;
  margin-left: 20%;
  display: flex;
}

.card2>table>td{
  background-color: transparent;
}

.card2>table>td>tr{
  background-color: transparent;
  font-size: 18px;
  font-style: normal;
  font-weight: 550;
  line-height: 30px;
}

.card2Title{
  color: #26292B;
  background-color: transparent;
}

.card2Body>p{
  color: #26292B;
  background: #A2B2EE;
  padding-top: 1rem;
  line-height: 150%;
}

.card3{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #A2B2EE; 
  min-height: 100px;
  max-width: 320px;
  min-width: 200px;
  border-radius: 5%;
}
.card3>table{
  background-color: transparent;
  margin-left: 20%;
  display: flex;
}

.card3>table>td{
  background-color: transparent;
}

.card3>table>td>tr{
  background-color: transparent;
  font-size: 18px;
  font-style: normal;
  font-weight: 550;
  line-height: 30px;
}

.card3Title{
  color: #26292B;
  background-color: transparent;
}

.card3Body>p{
  color: #26292B;
  background: #A2B2EE;
  padding-top: 1rem;
  line-height: 150%;
}

.card4{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #A2B2EE; 
  min-height: 100px;
  max-width: 320px;
  min-width: 200px;
  border-radius: 5%;
}
.card4>table{
  background-color: transparent;
  margin-left: 20%;
  display: flex;
}

.card4>table>td{
  background-color: transparent;
}

.card4>table>td>tr{
  background-color: transparent;
  font-size: 18px;
  font-style: normal;
  font-weight: 550;
  line-height: 30px;
}

.card4Title{
  color: #26292B;
  background-color: transparent;
}

.card4Body>p{
  color: #26292B;
  background: #A2B2EE;
  padding-top: 1rem;
  line-height: 150%;
}

.temperaturaDiaCardSemana{
  color: #26292B;
  font-size: 32px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
}

.dateStyle{
  width: 75px;
  height: 75px;
  background-color: #5F7ADB;
  border-radius: 50%;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: -38px;
}

.dateStyle>p{
  background-color: transparent;
  color: #FFF;
}

.sectionStyle{
  position: relative;
  padding-bottom: 10px;
}