*{
  background: #26292B;
  font-family: 'Courier New', Courier, monospace;
}

.conteiner{
  display: flex;
  justify-content: center;
}

.cidade{
  color: #FFF;
  font-style: normal;
  line-height: normal;
  margin-top: 5%;
}